/* Styles go here */

.Image-grid {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
}

.navbar-color {
  height: auto;
  min-height: 5rem;
  color: black;
  background-color: #e7e7e7;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-color a {
  color: black;
}
