/* Styles go here */

li {
  display: inline-block;
  list-style: none;
}

a {
  text-decoration: none;
}

.redtipped {
  color: red;
  font-weight: bold;
}

/* grid */

.Image-grid {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
}

/* inner items */

#loader {
  margin-top: 50vh;
  color: #4a4a4a;
  font-weight: bold;
}

.main {
  margin: 5rem 0 20rem 0;
}
/* navbar */

.navbar-color {
  height: auto;
  min-height: 5rem;
  color: black;
  background-color: #e7e7e7;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-color a {
  color: black;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  background-color: #4a4a4a;
  color: white;

  text-align: center;

  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 2.5rem;
}

.copyright {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #262626;

  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px;
}

footer img {
  max-width: 10rem;
  width: 100%;
  height: auto;
}

footer li a {
  color: red;
  margin-bottom: 100px;
}

footer li a:hover {
  color: darkred;
  text-decoration: none;
}
