@media only screen and (max-width: 980px) {
  .Image-grid {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  footer {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
